trigger:
- main

pr:
  branches:
    include: [ main ]
    
variables:
- group: Sandbox-Config
stages:
- stage: Sandbox
  displayName: "Deploy to Sandbox"
  jobs:
  - job: DeployToSandbox
    steps:
    - script: echo "Environment:$(environment)"
    - script: echo "Using API:$(Build.Reason)"
    - script: echo "Deploying to Sandbox..."
