trigger:
- main

pr:
- main

variables:
  environment: $[eq(variables['Build.Reason'], 'PullRequest')]
  skipDeploy: $[eq(variables['Build.Reason'], 'PullRequest')]

steps:

- script: echo "Environment is $(environment)"

- script: echo "Running tests for PR..."
  condition: eq(variables['Build.Reason'], 'PullRequest')

- script: echo "Deploying to $(environment)"
  condition: ne(variables['skipDeploy'], true)
